.container {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: var(--space-xs) var(--space-md);
  border-bottom: 1px solid var(--primary-300);
}

.buttonsContainer {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-left: auto;
}

.button {
  width: var(--space-md);
  height: var(--space-md);
  cursor: pointer;
}
