.canvas {
  grid-area: canvas;
  width: 100%;
  overflow: auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 40px 40px; /* Adjust size of grid cells */
  background-attachment: local;
}
