.container {
  background-color: var(--primary-700);
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-lg);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
  gap: var(--space-s);
}

.title {
  font-size: var(--fs-lg);
  margin: var(--space-lg);
  color: var(--pure-white);
  font-weight: var(--fw-extrabold);
  line-height: 1.3;
}

.button {
  color: white;
  margin-top: var(--space-lg);
  background-color: var(--primary-500);
  padding: var(--space-s) var(--space-md);
  border-radius: var(--border-radius-m);
  font-size: var(--fs-md);
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-600);
}
