.container {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: var(--space-xs) var(--space-md);
  border-bottom: 1px solid var(--primary-300);
}

.buttonsContainer {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-left: auto;
}

.button {
  border: none;
  color: var(--text-color);
  background-color: inherit;
  width: auto;
  min-width: 30px;
  border-radius: 10px;
  font-size: var(--fs-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: var(--primary-100);
}

.active {
  background-color: var(--primary-200);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}
