.container {
  background-color: var(--primary-700);
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-lg);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
  gap: var(--space-s);
}

.projectLogo {
  display: block;
  width: 60px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.projectName {
  font-size: var(--fs-xxl);
  margin: 0;
  color: var(--pure-white);
  font-weight: var(--fw-extrabold);
  line-height: 1.3;
}

.projectVersion {
  margin: 0;
  font-size: var(--fs-lg);
  font-weight: var(--fw-medium);
  color: var(--pure-white);
}

.projectCommunity {
  margin: 0;
  margin-bottom: var(--space-lg);
  color: var(--primary-200);
}
