.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.itemText {
  font-size: var(--fs-xxs);
  color: var(--primary-700);
}

.image {
  position: relative;
  padding: var(--space-xs);
  width: var(--gallery-item-size);
  height: var(--gallery-item-size);
  border-radius: var(--border-radius-s);
  display: flex;
  align-items: center;
  background-color: var(--primary-50);
  cursor: grab;
  transition: all 0.3s ease-in-out;
}

.image img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image:hover {
  background-color: #fafafa;
  box-shadow: 0 0 5px 0px var(--primary-200);
}
