.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.3); /* Gris claro con opacidad */
  border-radius: 8px; /* Bordes redondeados */
  position: relative;
  padding: 20px;
}

.fileInput {
  display: none; /* Escondemos el input de archivo */
}

.uploadButton {
  background-color: #2d9a8b;
  border: none;
  color: white;
  padding: 12px var(--space-lg);
  text-align: center;
  display: block;
  font-size: var(--fs-s);
  cursor: pointer;
  border-radius: var(--border-radius-m);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.uploadButton:hover {
  background-color: #257f72;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.uploadButton:active {
  background-color: #1d6359;
}
