.container {
  width: 100%;
  flex: 1;
  border: 1px solid;
  border-color: black;
  border-radius: 3px;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container > svg {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 12px;
  height: 12px;

  cursor: pointer;
}

.icon-container > svg:hover {
  background-color: var(--primary-100);
}

.noclick {
  pointer-events: none;
}
