.layout {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas:
        "toolbar toolbar toolbar"
        "container-gallery canvas component-gallery";
    height: 100vh;
    border: 1px solid black;
}

.toolbar {
    grid-area: toolbar;
    border: 1px solid black;
}

.containerGallery {
    grid-area: container-gallery;
    border: 1px solid black;
}

.componentGallery {
    grid-area: component-gallery;
    border: 1px solid black;
}

.canvas {
    grid-area: canvas;
    border: 1px solid black;
}