.componentsGallery {
  grid-area: components-gallery;
  border-right: 1px solid black;
}

.propertiesOptions {
  grid-area: properties-options;
  border-left: 1px solid black;
}

.footer {
  grid-area: footer;
}
