.container {
  position: relative;
  z-index: 2;
  grid-area: toolbar;
  display: flex;
  justify-content: space-between;
  padding: var(--space-s) var(--space-md);
  background-color: var(--primary-100);
  border-bottom: 1px solid var(--primary-900);
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: var(--space-xl);
}

@media screen and (max-device-width: 1090px) {
  .buttonGroup {
    gap: 0;
  }
}

.button {
  border: none;
  color: var(--text-color);
  background-color: inherit;
  padding: 0.6em 1.2em;
  border-radius: var(--border-radius-m);
  font-size: var(--fs-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button svg {
  font-size: var(--fs-s);
}

.button:focus-visible {
  outline: 1px auto var(--primary-500);
}

.button:hover {
  background-color: var(--primary-900);
  color: var(--pure-white);
}

.button:disabled {
  color: var(--primary-300);
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: inherit;
}
