.container {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-900-50-opacity);
}

.dialog {
  position: relative;
  z-index: 3;
  width: 90%;
  max-width: 1280px;
  height: 80%;
  overflow: auto;
  border-radius: var(--border-radius-l);
}

.dialogContent {
  overflow: auto;
  flex: 1;
}

.dialogHeader {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: var(--primary-500);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) var(--space-md);
  border-top-left-radius: var(--border-radius-l);
  border-top-right-radius: var(--border-radius-l);
}

.dialogTitle {
  font-size: var(--fs-md);
  color: var(--pure-white);
}

.dialogButton {
  width: fit-content;
  margin-left: auto;
  background-color: transparent;
  color: var(--pure-white);
  padding: var(--space-xs);
  line-height: 0;
  border: none;
}

.dialogButton:hover {
  cursor: pointer;
}

@media screen and (max-device-width: 780px) {
  .dialog {
    width: 92%;
    height: 82%;
  }
}
