name: CI Workflow

on: pull_request

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.17.0
        uses: actions/setup-node@v4
        with:
          node-version: '20.17.0'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Check TypeScript types
        run: npm run tsc-check

      - name: Run tests
        run: npm test

  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.17.0
        uses: actions/setup-node@v4
        with:
          node-version: '20.17.0'
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm ci

      - name: Build
        run: npm run build

      - name: Check TypeScript types
        run: npm run tsc-check

      - name: Run E2E tests
        run: npm run ci:e2e
