.layout {
  display: grid;
  grid-template-columns:
    minmax(var(--column-min-size), 2fr) minmax(var(--canvas-min-size), 8fr)
    minmax(var(--column-min-size), 2fr);
  grid-template-rows: auto 8fr;
  grid-template-areas:
    'toolbar toolbar toolbar'
    'container-gallery canvas component-gallery';
  height: 100vh;
}
